.img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.img-size {
  width: 70vh;
}

/* Responsiviness  */
@media only screen and (max-width: 950px){
  .responsiveMainContainer {
    width: 90%;
    justify-content: center;
    margin: auto;
  }
} 

  @media only screen and (max-width: 750px){
    .responsiveMainContainer {
      width: 90%;
      justify-content: center;
      margin: auto;
    }
  }

  @media only screen and (max-width: 500px){
    .responsiveMainContainer {
      width: 90%;
      justify-content: center;
      margin: auto;
    }
  }

  @media only screen and (max-width: 450px) {
    .responsiveMainContainer {
      width: 90%;
      justify-content: center;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .responsiveTextContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      margin-top: 50px;
    }
    .responsiveBlogTitle {
      width: 90%;
      }

    .responsiveBlogText {
      width: 250px;
      padding: 2px;
      display: flex;
      justify-content: center;
      margin: auto;
      margin-bottom: 10px;
      text-align: center;
    }

    .img-size {
      height: 300px;
      width: 400px;
    }
  }

  @media only screen and (max-width: 400px){
    .responsiveMainContainer {
      width: 90%;
      justify-content: center;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .responsiveTextContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      margin-top: 50px;
    }
    .responsiveBlogTitle {
      width: 90%;
      }

    .responsiveBlogText {
      width: 250px;
      padding: 2px;
      display: flex;
      justify-content: center;
      margin: auto;
      margin-bottom: 5px;
      text-align: center;
    }

    .img-size {
      height: 300px;
      width: 400px;
    }
    
  }