@tailwind base;
@tailwind components;
@tailwind utilities;


.loggedIn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-family: "Helvetica";
    font-size: 14px;

}

.homePageCard {
width: 500px;
height: 500px;

}
